<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    
    <containers>
      <container name="iocTest">
        <!--<extension type="Interception"/>-->
        <register type="DbHelper.Redis.Interface.IRedisHelper, DbHelper.Redis" mapTo="DbHelper.Redis.StackExchangeRedisHelper, DbHelper.Redis">
          <!--<interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Ruanmou.Framework.LogBehavior, Ruanmou.Framework"/>-->
          <!--<lifetime type="transient" />-->
          <constructor>
            <!--<param name="pubContext" type="IPubContext" />-->
            <param name="dbNum" type="System.Int32" value="0" />
            <param name="redisConnectionString" type="System.String" value="127.0.0.1:6379" />
            <param name="sysCustomKey" type="System.String" value="test" />
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
</configuration>